[Unit]
Description=OGRT - a tool designed to track user processes on a HPC cluster
Wants=elasticsearch.service
After=elasticsearch.service

[Service]
Type=simple
WorkingDirectory=${INSTALL_PATH}/ogrt-server-v${OGRT_VERSION}
ExecStart=${INSTALL_PATH}/ogrt-server-v${OGRT_VERSION}/ogrt-server
ExecReload=/bin/kill -HUP \$MAINPID
KillMode=process
Restart=on-failure
RestartSec=30s
